doctype html
head
	title LouWangChuan AU Server
	link(rel="icon", href="https://github.com/OhMyGuus/CrewLink/raw/master/logo.png", type="image/x-icon")
	meta(property='og:title' content='LouWangChuan AU Server')
	meta(property='og:description' content='Voice server for Among Us proximity voice chat')
	meta(property='og:image' content='https://github.com/OhMyGuus/CrewLink/raw/master/logo.png')
	link(rel='stylesheet', href='/public/styles.css')


img(src="https://github.com/OhMyGuus/CrewLink/raw/master/logo.png")
h1 LouWangChuan AU Server
#crewinfo

	p This is a LouWangChuan AU Server running on: 
	br
	b #{address}
	p There #{connectionCount === 1 ? 'is' : 'are'} currently #{connectionCount} connected user#{connectionCount === 1 ? '' : 's'} 
	<hr>
	p
		a(href="https://github.com/Meichi0814", target="_blank")
			| LouWangChuan AU Server on ChuChen
			| <b>Click here</b>
	<hr>
	 
		
#background-container
	#stars
	#stars2
	#stars3
